@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("https://storage.yandexcloud.net/gamefarmland/assets/fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("https://storage.yandexcloud.net/gamefarmland/assets/fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --wiepotrDeviseWith: 1920;
}

@media (max-width: 48em) {
  :root {
    --wiepotrDeviseWith: 375;
  }
}
.trigger {
  position: fixed;
  bottom: calc(110 * 100vw / var(--wiepotrDeviseWith));
  right: calc(100 * 100vw / var(--wiepotrDeviseWith));
  width: calc(180 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  z-index: 1039;
  padding: 0;
}
@media (max-width: 48em) {
  .trigger {
    bottom: calc(20 * 100vw / var(--wiepotrDeviseWith));
    width: calc(100 * 100vw / var(--wiepotrDeviseWith));
    right: calc(16 * 100vw / var(--wiepotrDeviseWith));
  }
}
.trigger__inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
}
.trigger__bg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  z-index: 1;
}
.trigger__video {
  width: 80%;
  height: 70%;
  -o-object-fit: contain;
     object-fit: contain;
  z-index: 2;
  border-radius: 50%;
}

.modal-game__overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 110001;
  opacity: 0;
  transition: opacity 0.3s ease;
  cursor: pointer;
}
.modal-game__overlay * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.modal-game__overlay img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-game__modal {
  cursor: default;
  background: #000;
  border-radius: calc(12 * 100vw / var(--wiepotrDeviseWith));
  overflow: hidden;
  position: relative;
  transform: translateY(calc(30 * 100vw / var(--wiepotrDeviseWith)));
  transition: transform 0.3s ease;
  width: calc(1367 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 16/9;
  background: rgb(85, 87, 84) !important;
  font-family: "Gilroy", "Montserrat", "Century Gothic", "Futura", sans-serif;
  font-weight: 700;
  color: #fff;
}
@media (max-width: 48em) {
  .modal-game__modal {
    width: calc(350 * 100vw / var(--wiepotrDeviseWith));
    aspect-ratio: 3/4;
  }
}
.modal-game__container {
  width: 100%;
  height: 100%;
  position: relative;
}
.modal-game__close {
  position: absolute;
  flex-shrink: 0;
  top: calc(57 * 100vw / var(--wiepotrDeviseWith));
  right: calc(57 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1110;
  width: calc(50 * 100vw / var(--wiepotrDeviseWith));
  font-size: calc(24 * 100vw / var(--wiepotrDeviseWith));
}
.modal-game__close svg {
  width: calc(21 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1;
}
@media (max-width: 48em) {
  .modal-game__close svg {
    width: calc(13 * 100vw / var(--wiepotrDeviseWith));
  }
}
@media (max-width: 48em) {
  .modal-game__close {
    top: calc(12 * 100vw / var(--wiepotrDeviseWith));
    right: calc(12 * 100vw / var(--wiepotrDeviseWith));
    font-size: calc(14 * 100vw / var(--wiepotrDeviseWith));
    width: calc(30 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__slides-box {
  display: grid;
  width: 100%;
  height: 100%;
  position: relative;
}

.modal-game__container img {
  content-visibility: auto;
}
.modal-game__container button {
  background: transparent;
  outline: unset;
  border: unset;
  color: inherit;
  font-family: inherit;
  cursor: pointer;
}
.modal-game__container .slide__btn {
  outline: none;
  border: none;
  text-align: center;
  width: -moz-fit-content;
  width: fit-content;
  font-size: calc(34 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .slide__btn {
    width: 100%;
    font-size: calc(12 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .btn--inset {
  position: absolute;
  inset: 0;
  opacity: 0;
  width: 100%;
}
.modal-game__container .btn--green {
  backdrop-filter: blur(calc(5 * 100vw / var(--wiepotrDeviseWith)));
  -webkit-backdrop-filter: blur(calc(5 * 100vw / var(--wiepotrDeviseWith)));
  padding: calc(17 * 100vw / var(--wiepotrDeviseWith)) calc(38 * 100vw / var(--wiepotrDeviseWith));
  border-radius: calc(60 * 100vw / var(--wiepotrDeviseWith));
  background: linear-gradient(180deg, #459f07 0%, #193903 144.59%);
  white-space: nowrap;
  flex-shrink: 0;
}
@media (max-width: 48em) {
  .modal-game__container .btn--green {
    padding: calc(7 * 100vw / var(--wiepotrDeviseWith)) calc(14 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .btn--back {
  padding: calc(15 * 100vw / var(--wiepotrDeviseWith)) calc(36 * 100vw / var(--wiepotrDeviseWith));
  border-radius: calc(60 * 100vw / var(--wiepotrDeviseWith));
  border: calc(2 * 100vw / var(--wiepotrDeviseWith)) solid rgba(255, 255, 255, 0.5);
  background: transparent;
}
@media (max-width: 48em) {
  .modal-game__container .btn--back {
    padding: calc(5 * 100vw / var(--wiepotrDeviseWith)) calc(12 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .btn--img {
  position: relative;
  width: 100%;
  aspect-ratio: 407/240;
  background: transparent;
  border: calc(2 * 100vw / var(--wiepotrDeviseWith)) solid var(--white-50);
  border-radius: calc(24 * 100vw / var(--wiepotrDeviseWith));
  overflow: hidden;
  padding: calc(20 * 100vw / var(--wiepotrDeviseWith));
  display: flex;
  flex-direction: column;
  gap: calc(20 * 100vw / var(--wiepotrDeviseWith));
  align-items: center;
  justify-content: flex-end;
  font-size: calc(24 * 100vw / var(--wiepotrDeviseWith));
}
.modal-game__container .btn--img::before {
  content: "";
  width: calc(36 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1/1;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='36' rx='18' fill='white'/%3E%3Cpath d='M15 24L19.9409 19.0591C20.4402 18.5598 20.6898 18.3102 20.6898 18C20.6898 17.6898 20.4402 17.4402 19.9409 16.9409L15 12' stroke='%23163F26' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
@media (max-width: 48em) {
  .modal-game__container .btn--img::before {
    width: calc(28 * 100vw / var(--wiepotrDeviseWith));
  }
}
@media (max-width: 48em) {
  .modal-game__container .btn--img {
    aspect-ratio: 318/70;
    padding: calc(16 * 100vw / var(--wiepotrDeviseWith)) calc(12 * 100vw / var(--wiepotrDeviseWith));
    font-size: calc(12 * 100vw / var(--wiepotrDeviseWith));
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-radius: calc(12 * 100vw / var(--wiepotrDeviseWith));
    text-align: left;
  }
}
.modal-game__container .btn--img span {
  position: relative;
  z-index: 1;
}
@media (max-width: 48em) {
  .modal-game__container .btn--img span {
    width: calc(123 * 100vw / var(--wiepotrDeviseWith));
    display: block;
  }
}
.modal-game__container .btn--img picture {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.modal-game__container .slide {
  backface-visibility: hidden;
  transform: translateZ(0);
  will-change: opacity;
  overflow: hidden;
  grid-column: 1/-1;
  grid-row: 1/-1;
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  gap: calc(20 * 100vw / var(--wiepotrDeviseWith));
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.8s;
  padding: calc(50 * 100vw / var(--wiepotrDeviseWith)) calc(85 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .slide {
    padding: calc(30 * 100vw / var(--wiepotrDeviseWith)) calc(16 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .slide--active {
  opacity: 1;
  pointer-events: auto;
}
.modal-game__container .slide__bg {
  position: absolute;
  inset: 0;
}
.modal-game__container .slide__bg img, .modal-game__container .slide__bg video, .modal-game__container .slide__bg picture {
  backface-visibility: hidden;
  transform: translateZ(0);
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-game__container .slide__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  gap: calc(20 * 100vw / var(--wiepotrDeviseWith));
}
.modal-game__container .slide__content--isDisclaimer {
  flex-direction: row;
  align-items: center;
}
@media (max-width: 48em) {
  .modal-game__container .slide__content--isDisclaimer {
    flex-direction: column;
    gap: gap(8);
  }
}
@media (max-width: 48em) {
  .modal-game__container .slide__content {
    gap: gap(10);
  }
}
.modal-game__container .slide__text-box {
  display: flex;
  gap: calc(20 * 100vw / var(--wiepotrDeviseWith));
  justify-content: space-between;
  align-items: flex-start;
}
.modal-game__container .slide__text {
  margin: 0;
  flex-grow: 1;
  font-size: calc(45 * 100vw / var(--wiepotrDeviseWith));
  line-height: normal;
}
.modal-game__container .slide__text--isChoices {
  text-align: center;
}
@media (max-width: 48em) {
  .modal-game__container .slide__text--center {
    text-align: center;
  }
}
@media (max-width: 48em) {
  .modal-game__container .slide__text {
    font-size: calc(14 * 100vw / var(--wiepotrDeviseWith));
    line-height: unset;
  }
}
.modal-game__container .slide__arr {
  aspect-ratio: 63/98;
  flex-shrink: 0;
  width: calc(50 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .slide__arr {
    width: calc(17 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .slide__arr svg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.modal-game__container .slide__btn-box {
  display: flex;
  flex-wrap: wrap;
  gap: calc(14 * 100vw / var(--wiepotrDeviseWith));
}
.modal-game__container .slide__btn-box:has(.btn--back) {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.modal-game__container .slide__btn-box:has(.btn--back) .slide__btn {
  width: 100%;
}
@media (max-width: 48em) {
  .modal-game__container .slide__btn-box:has(.btn--back) {
    display: flex;
    flex-direction: column;
  }
}
.modal-game__container .slide__btn-box:has(.btn--inset) {
  position: absolute;
  inset: 0;
}
@media (max-width: 48em) {
  .modal-game__container .slide__btn-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: calc(10 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .slide__btn-box--isChoices {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(13 * 100vw / var(--wiepotrDeviseWith));
  border-radius: calc(26 * 100vw / var(--wiepotrDeviseWith));
  padding: calc(8 * 100vw / var(--wiepotrDeviseWith));
  box-shadow: calc(5 * 100vw / var(--wiepotrDeviseWith)) calc(4 * 100vw / var(--wiepotrDeviseWith)) calc(22 * 100vw / var(--wiepotrDeviseWith)) 0 rgba(0, 0, 0, 0.55);
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: calc(128 * 100vw / var(--wiepotrDeviseWith));
  left: 50%;
  transform: translateX(-50%);
  width: calc(1236 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .slide__btn-box--isChoices {
    display: flex;
    flex-direction: column;
    gap: calc(4 * 100vw / var(--wiepotrDeviseWith));
    width: calc(100% - 24 * 100vw / var(--wiepotrDeviseWith));
    top: calc(60 * 100vw / var(--wiepotrDeviseWith));
    padding: calc(3 * 100vw / var(--wiepotrDeviseWith));
    border-radius: calc(12 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .slide__disclaimer-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  margin-bottom: calc(8 * 100vw / var(--wiepotrDeviseWith));
  gap: calc(13 * 100vw / var(--wiepotrDeviseWith));
  position: relative;
  z-index: 10;
}
.modal-game__container .slide__disclaimer-add {
  font-size: calc(17 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .slide__disclaimer-add {
    font-size: calc(7 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .slide__disclaimer {
  width: calc(1310 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1507/95;
}
@media (max-width: 48em) {
  .modal-game__container .slide__disclaimer {
    width: calc(325 * 100vw / var(--wiepotrDeviseWith));
    aspect-ratio: 325/50;
  }
}
.modal-game__container .achiev-counter {
  position: absolute;
  top: calc(40 * 100vw / var(--wiepotrDeviseWith));
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: calc(16 * 100vw / var(--wiepotrDeviseWith));
  z-index: 1100;
  pointer-events: none;
}
@media (max-width: 48em) {
  .modal-game__container .achiev-counter {
    top: calc(12 * 100vw / var(--wiepotrDeviseWith));
    gap: calc(10 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .achiev-counter__badge {
  display: flex;
  align-items: center;
  gap: calc(8 * 100vw / var(--wiepotrDeviseWith));
}
.modal-game__container .achiev-counter__img {
  width: calc(80 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 48em) {
  .modal-game__container .achiev-counter__img {
    width: calc(40 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .achiev-counter__count {
  color: #fff;
  font-size: calc(45 * 100vw / var(--wiepotrDeviseWith));
  font-weight: bold;
}
@media (max-width: 48em) {
  .modal-game__container .achiev-counter__count {
    font-size: calc(14 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container {
  /* =========================================================== ачивки +1 ===========================================================*/
}
.modal-game__container .achiev-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(calc(10 * 100vw / var(--wiepotrDeviseWith)));
  -webkit-backdrop-filter: blur(calc(10 * 100vw / var(--wiepotrDeviseWith)));
  background: rgba(10, 22, 2, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: auto;
}
.modal-game__container .achiev-overlay--show {
  opacity: 1;
}
.modal-game__container .achiev-overlay--show .achiev-overlay__card {
  transform: scale(1);
}
.modal-game__container .achiev-overlay__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(0.4);
  transition: transform 0.4s ease;
}
.modal-game__container .achiev-overlay__body {
  display: flex;
  align-items: center;
  gap: calc(8 * 100vw / var(--wiepotrDeviseWith));
  font-size: calc(45 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .achiev-overlay__body {
    font-size: calc(14 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .achiev-overlay__img {
  aspect-ratio: 1;
  width: calc(80 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .achiev-overlay__img {
    width: calc(40 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container {
  /* =========================================================== ачивки ендинги ===========================================================*/
}
.modal-game__container .ending-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(calc(10 * 100vw / var(--wiepotrDeviseWith)));
  -webkit-backdrop-filter: blur(calc(10 * 100vw / var(--wiepotrDeviseWith)));
  background: rgba(10, 22, 2, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1200;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: auto;
}
.modal-game__container .ending-overlay--show {
  opacity: 1;
}
.modal-game__container .ending-overlay--show .ending-overlay__card {
  opacity: 1;
}
.modal-game__container .ending-overlay--show .ending-overlay__content {
  scale: 1;
}
.modal-game__container .ending-overlay__card {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
}
.modal-game__container .ending-overlay__bg {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  inset: 0;
}
.modal-game__container .ending-overlay__bg img {
  width: 68%;
  height: 107%;
  -webkit-mask-image: radial-gradient(circle at center, black 15%, rgba(0, 0, 0, 0.1) 94%, transparent 96%);
  mask-image: radial-gradient(circle at center, black 15%, rgba(0, 0, 0, 0.1) 94%, transparent 96%);
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__bg img {
    width: 100%;
    height: 100%;
    -webkit-mask-image: unset;
    mask-image: unset;
  }
}
.modal-game__container .ending-overlay__content {
  display: flex;
  flex-direction: column;
  gap: calc(30 * 100vw / var(--wiepotrDeviseWith));
  transition: scale 0.3s;
  scale: 0.4;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__content {
    gap: calc(12 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__achive {
  position: relative;
  margin-left: calc(134 * 100vw / var(--wiepotrDeviseWith));
  width: calc(646 * 100vw / var(--wiepotrDeviseWith));
  position: relative;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__achive {
    width: calc(164 * 100vw / var(--wiepotrDeviseWith));
    margin-left: unset;
    margin-top: calc(145 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__img {
  width: calc(357 * 100vw / var(--wiepotrDeviseWith));
  position: absolute;
  aspect-ratio: 1;
  left: calc(-172 * 100vw / var(--wiepotrDeviseWith));
  bottom: 0;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__img {
    width: calc(174 * 100vw / var(--wiepotrDeviseWith));
    left: 50%;
    transform: translateX(-50%);
    top: calc(-145 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__body {
  border-radius: calc(26 * 100vw / var(--wiepotrDeviseWith));
  background: rgba(255, 255, 255, 0.7);
  padding: calc(34 * 100vw / var(--wiepotrDeviseWith)) calc(34 * 100vw / var(--wiepotrDeviseWith)) calc(34 * 100vw / var(--wiepotrDeviseWith)) calc(186 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__body {
    padding: calc(24 * 100vw / var(--wiepotrDeviseWith)) calc(6 * 100vw / var(--wiepotrDeviseWith)) calc(6 * 100vw / var(--wiepotrDeviseWith)) calc(6 * 100vw / var(--wiepotrDeviseWith));
    border-radius: calc(5 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__body-inner {
  border-radius: calc(23 * 100vw / var(--wiepotrDeviseWith));
  padding: calc(17 * 100vw / var(--wiepotrDeviseWith));
  background: white;
  color: #163f26;
  display: flex;
  flex-direction: column;
  gap: calc(4 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__body-inner {
    border-radius: calc(5 * 100vw / var(--wiepotrDeviseWith));
    padding: calc(12 * 100vw / var(--wiepotrDeviseWith)) calc(14 * 100vw / var(--wiepotrDeviseWith)) calc(10 * 100vw / var(--wiepotrDeviseWith));
    gap: calc(6 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__head {
  display: flex;
  flex-direction: column;
  gap: calc(1 * 100vw / var(--wiepotrDeviseWith));
  text-align: center;
  align-items: center;
}
.modal-game__container .ending-overlay__subtitle {
  font-size: calc(15 * 100vw / var(--wiepotrDeviseWith));
  font-weight: 500;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__subtitle {
    font-size: calc(9 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__title {
  font-weight: 700;
  font-size: calc(45 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__title {
    font-size: calc(14 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__result {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: calc(8 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__result {
    gap: calc(4 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__result-title {
  font-size: calc(15 * 100vw / var(--wiepotrDeviseWith));
  font-weight: 500;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__result-title {
    font-size: calc(9 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(30 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__counter {
    gap: calc(10 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__badge {
  border-radius: calc(9 * 100vw / var(--wiepotrDeviseWith));
  padding: calc(8 * 100vw / var(--wiepotrDeviseWith)) calc(14 * 100vw / var(--wiepotrDeviseWith));
  gap: calc(2 * 100vw / var(--wiepotrDeviseWith));
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #eff6ef;
  display: flex;
  align-items: center;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__badge {
    padding: calc(2 * 100vw / var(--wiepotrDeviseWith)) calc(4 * 100vw / var(--wiepotrDeviseWith));
    border-radius: calc(5 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__badge-img {
  width: calc(60 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__badge-img {
    width: calc(20 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__count {
  font-weight: 700;
  font-size: calc(34 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__count {
    font-size: calc(10 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__btn-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__btn-box {
    flex-direction: column;
    gap: calc(12 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__end {
  display: flex;
  align-items: center;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__end {
    width: 100%;
  }
}
.modal-game__container .ending-overlay__end-img {
  position: absolute;
  border-radius: calc(14 * 100vw / var(--wiepotrDeviseWith));
  width: calc(93 * 100vw / var(--wiepotrDeviseWith));
  height: calc(85 * 100vw / var(--wiepotrDeviseWith));
  left: 0;
  overflow: hidden;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__end-img {
    border-radius: calc(6 * 100vw / var(--wiepotrDeviseWith));
    width: calc(37 * 100vw / var(--wiepotrDeviseWith));
    height: calc(34 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay__end-text {
  background: rgba(78, 129, 42, 0.6);
  color: #fff;
  font-weight: 500;
  line-height: 110%;
  border: calc(0.18 * 100vw / var(--wiepotrDeviseWith)) solid #fff;
  border-radius: calc(17 * 100vw / var(--wiepotrDeviseWith));
  padding: calc(5 * 100vw / var(--wiepotrDeviseWith)) calc(10 * 100vw / var(--wiepotrDeviseWith)) calc(5 * 100vw / var(--wiepotrDeviseWith)) calc(110 * 100vw / var(--wiepotrDeviseWith));
  width: calc(294 * 100vw / var(--wiepotrDeviseWith));
  font-size: calc(22 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay__end-text {
    border: calc(0.25 * 100vw / var(--wiepotrDeviseWith)) solid #fff;
    border-radius: calc(6 * 100vw / var(--wiepotrDeviseWith));
    padding: calc(8 * 100vw / var(--wiepotrDeviseWith)) calc(15 * 100vw / var(--wiepotrDeviseWith)) calc(8 * 100vw / var(--wiepotrDeviseWith)) calc(50 * 100vw / var(--wiepotrDeviseWith));
    width: 100%;
    font-size: calc(8 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .ending-overlay .btn--green {
  padding: calc(17 * 100vw / var(--wiepotrDeviseWith)) calc(103 * 100vw / var(--wiepotrDeviseWith));
  white-space: nowrap;
  flex-shrink: 0;
}
@media (max-width: 48em) {
  .modal-game__container .ending-overlay .btn--green {
    padding: calc(7 * 100vw / var(--wiepotrDeviseWith)) calc(50 * 100vw / var(--wiepotrDeviseWith));
    width: 100%;
  }
}
.modal-game__container .backpack-badge {
  position: absolute;
  top: calc(40 * 100vw / var(--wiepotrDeviseWith));
  left: calc(57 * 100vw / var(--wiepotrDeviseWith));
  display: flex;
  align-items: center;
  gap: calc(10 * 100vw / var(--wiepotrDeviseWith));
  padding: calc(8 * 100vw / var(--wiepotrDeviseWith)) calc(12 * 100vw / var(--wiepotrDeviseWith));
  background: rgba(239, 246, 239, 0.5);
  border-radius: calc(50 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .backpack-badge {
    top: calc(12 * 100vw / var(--wiepotrDeviseWith));
    left: calc(12 * 100vw / var(--wiepotrDeviseWith));
    padding: calc(4 * 100vw / var(--wiepotrDeviseWith));
    gap: calc(4 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-badge::after {
  content: "";
  width: calc(36 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1/1;
  flex-shrink: 0;
  background-image: url("data:image/svg+xml,%3Csvg  viewBox='0 0 36 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='36' height='36' rx='18' fill='white'/%3E%3Cpath d='M15 24L19.9409 19.0591C20.4402 18.5598 20.6898 18.3102 20.6898 18C20.6898 17.6898 20.4402 17.4402 19.9409 16.9409L15 12' stroke='%23163F26' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}
@media (max-width: 48em) {
  .modal-game__container .backpack-badge::after {
    width: calc(28 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-badge__img {
  width: calc(52 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 48em) {
  .modal-game__container .backpack-badge__img {
    width: calc(28 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-modal {
  transform: translateZ(0);
  will-change: opacity;
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 10;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, pointer-events 0.5s;
}
.modal-game__container .backpack-modal.isOpen {
  opacity: 1;
  visibility: visible;
  pointer-events: fill;
}
.modal-game__container .backpack-modal.isOpen .backpack-modal__body {
  opacity: 1;
  scale: 0.86;
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal.isOpen .backpack-modal__body {
    scale: 1;
  }
}
.modal-game__container .backpack-modal__inner {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-game__container .backpack-modal__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0;
}
.modal-game__container .backpack-modal__body {
  position: absolute;
  scale: 0.7;
  opacity: 0;
  transition: opacity 0.3s, scale 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: calc(32 * 100vw / var(--wiepotrDeviseWith));
  transform: translateZ(0);
  will-change: transform;
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal__body {
    gap: calc(8 * 100vw / var(--wiepotrDeviseWith));
    margin-top: calc(45 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-modal__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-left: calc(215 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal__content {
    margin-left: unset;
  }
}
.modal-game__container .backpack-modal__img {
  position: absolute;
  width: calc(778 * 100vw / var(--wiepotrDeviseWith));
  height: calc(440 * 100vw / var(--wiepotrDeviseWith));
  top: calc(-43 * 100vw / var(--wiepotrDeviseWith));
  z-index: 2;
  left: calc(-458 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal__img {
    margin-left: unset;
    top: calc(-132 * 100vw / var(--wiepotrDeviseWith));
    left: 50%;
    transform: translateX(-50%);
    width: calc(350 * 100vw / var(--wiepotrDeviseWith));
    height: calc(194 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-modal__info {
  border-radius: calc(29 * 100vw / var(--wiepotrDeviseWith));
  width: calc(733 * 100vw / var(--wiepotrDeviseWith));
  --webkit-backdrop-filter: blur(pxToRemMix(4));
  backdrop-filter: blur(calc(4 * 100vw / var(--wiepotrDeviseWith)));
  background: rgba(255, 255, 255, 0.7);
  padding: calc(72 * 100vw / var(--wiepotrDeviseWith)) calc(48 * 100vw / var(--wiepotrDeviseWith)) calc(72 * 100vw / var(--wiepotrDeviseWith)) calc(238 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal__info {
    background: rgba(255, 255, 255, 0.7);
    padding: calc(76 * 100vw / var(--wiepotrDeviseWith)) calc(12 * 100vw / var(--wiepotrDeviseWith)) calc(12 * 100vw / var(--wiepotrDeviseWith));
    border-radius: calc(5 * 100vw / var(--wiepotrDeviseWith));
    width: calc(216 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-modal__info-body {
  border-radius: calc(26 * 100vw / var(--wiepotrDeviseWith));
  padding: calc(48 * 100vw / var(--wiepotrDeviseWith)) calc(35 * 100vw / var(--wiepotrDeviseWith));
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #163f26;
  gap: calc(10 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal__info-body {
    border-radius: calc(5 * 100vw / var(--wiepotrDeviseWith));
    padding: calc(12 * 100vw / var(--wiepotrDeviseWith)) calc(10 * 100vw / var(--wiepotrDeviseWith));
    gap: calc(5 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-modal__title {
  font-weight: 700;
  font-size: calc(52 * 100vw / var(--wiepotrDeviseWith));
  text-align: center;
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal__title {
    font-size: calc(18 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-modal__desc {
  font-weight: 400;
  font-size: calc(17 * 100vw / var(--wiepotrDeviseWith));
  text-align: center;
  width: calc(260 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal__desc {
    width: 100%;
    font-size: calc(12 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-modal__disclaimer-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  align-self: flex-end;
  margin-bottom: calc(8 * 100vw / var(--wiepotrDeviseWith));
  gap: calc(13 * 100vw / var(--wiepotrDeviseWith));
}
.modal-game__container .backpack-modal__disclaimer-add {
  font-size: calc(17 * 100vw / var(--wiepotrDeviseWith));
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal__disclaimer-add {
    font-size: calc(7 * 100vw / var(--wiepotrDeviseWith));
  }
}
.modal-game__container .backpack-modal__disclaimer {
  width: calc(1310 * 100vw / var(--wiepotrDeviseWith));
  aspect-ratio: 1507/95;
}
@media (max-width: 48em) {
  .modal-game__container .backpack-modal__disclaimer {
    width: calc(325 * 100vw / var(--wiepotrDeviseWith));
    aspect-ratio: 325/50;
  }
}/*# sourceMappingURL=style.css.map */